.wrapper {
  display: flex;
  align-items: flex-start;
}
.input {
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
}

.content {
  flex: 1;
  font-size: 14px;
  line-height: 120%;
  user-select: none;
  cursor: pointer;
}
